%header{:class => 'navbar navbar-fixed-top navbar-inverse' }
    %div{:class => 'container'}
        %a{:href => root_path, :id => 'logo'} Sample App
        %nav
            %ul{:class => 'nav navbar-nav navbar-right'}
                %li
                    =link_to 'Home', root_path
                
                %li
                    =link_to 'Help', help_path
                %li
                    =link_to 'Log In', login_path