%header{:class => 'navbar navbar-fixed-top navbar-inverse' }
    %div{:class => 'container'}
        %a{:href => '#', :id => 'logo'} Sample App
        %nav
            %ul{:class => 'nav navbar-nav navbar-right'}
                %li
                    %a{:href=> '#'} Home
                
                %li
                    %a{:href=> '#'} Help
                %li
                    %a{:href=> '#'} Home